---
import { Divider } from 'antd';
import { LoginForm } from '../components/LoginForm'
import { Fragment } from 'react';
import { extractStylesAlt } from '../components/extractStyles';

const { style } = extractStylesAlt([
	LoginForm,
	Divider
])
---

<Fragment set:html={style} ></Fragment>

<main class="flex justify-center items-center h-screen">
	<div class="w-[300px] border rounded p-4">
		<LoginForm client:visible />
		<Divider />

		<a href="/reset-password">Reset password</a>
	</div>
</main>