---
import { ResetPasswordForm } from '../components/ResetPasswordForm'
import { Divider } from 'antd';
import Link from '../components/Link.astro';
import { Fragment } from 'react';
import { extractStylesAlt } from '../components/extractStyles';

const { style } = extractStylesAlt([
	ResetPasswordForm,
	Divider
])
---
<Fragment set:html={style} ></Fragment>

<main class="flex justify-center items-center h-screen">
	<div class="w-[300px] border rounded p-4">
		<ResetPasswordForm client:visible />

		<Divider />

		<Link href="/">Back to login</Link>
	</div>
</main>